*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    height: 100px;
    width: 100px;
    /* child property */
    /* display: inline-block; */
}

section{
    height: 700px;
    border: 2px solid black; 
    /* parent property */
    display: flex;

    /* flex-direction: row; */
    flex-direction: row;
    
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */

    /* flex-wrap: wrap; */


    /* main axis -> row */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    justify-content: space-between;

    /* default */
    /* align-items: stretch;  */
    /* align-items: flex-start;  */

    /* align-content: flex-end; */
    /* align-content: center; */
}



#three{
    flex-grow: 2;
    flex-shrink: 2;
}
#four{
    /* flex-grow: 1;
    flex-shrink: 1; */
    align-self: flex-end;
    
}
#five{
align-self: center;
}